/* Global Changes here */

body{
	margin:0;
	background-image:url(img/background.png);
	background-repeat:repeat;
	
}

/* To fit the images into their contain div */
img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

/*Custom stuff here, such as fonts */

/*Custom font so webpages use this even if its not suer installed */
@font-face{
	font-family: Bellerose;
	src:url(fonts/Bellerose.ttf);
	font-weight: bold;
	font-size: 12px;
}

/* Classes */
/* used to display elements in a row at a certain size */
.links {
	margin-top: 40px;
	margin-left: 20%;
	width: 100px;
	height: 100px;
	background-color: #7D0000;
	display: inline-block;
	border-radius: 10px;
}

/*Handles short segments of slightly larger text */
.body{
	font-family: Bellerose;
	color: white;
	text-align: center;
	font-size: 2em;
}

/* Will be using .paragraph later on , only 1 use currently, Handles larger segments of text that need to be smaller in size */
.paragraph{
	float: left;	
	font-family: Bellerose;
	font-size: 18px;
	color: black;
	width: 50em;
	height: 10em;
	display: inline-block;
	margin-left: 2em;
}

/* Single Target CSS */

#header{
	margin-top: -5%; 
	width: auto;
	height: 20%;
	background: rgba(125,0,0,.5);
	
}

#title{
	font-family: Bellerose;
	color: white;
	text-align: center;
	font-size: 4em;
}

#bodyBlack{
	font-family: Bellerose;
	color: black;
	text-align: center;
	font-size: 2em;
}

#box{
	height: 20em;
	width: 20em;
	display: inline-block;
}

#aboutMe{
	background-color: white;
	width: 100%;
	height: 27em;
	display: inline-block;
}

/* To fix placement of the android logo on the page */
#special {
	margin-right: 5em;
	height: 16em;
	width: 16em;
	display: inline-block;
	float: left;
}

